*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  @include fontRegular;
  overflow-x: hidden;
}


img {
  max-width: 100%;
}

ul {
  list-style: none;
}

input,
textarea {
  padding: 1rem;
  border: none;
  outline: none;
}

::-moz-placeholder {
  opacity: 1;
}
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}

.container {
  max-width: $laptop;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.btn {
  display: inline-block;
  background: $mainColor;
  color: $white;
  padding: 15px 20px;
  @include transition;
  border-radius: 100px;
  &:hover {
    background: $mainColor-light;
    box-shadow: 0 3px 5px rgba($color: #000000, $alpha: .2);
  }
}

.center {
  text-align: center;
}

.bigContainer{
  max-width: $laptop13;
  margin: 0 auto;
  background: #fefefe;
}

.noscroll {
  overflow: hidden;
}