.group {
  @include container($laptop);
  align-items: center;
  margin-top: 100px;

  .wrapper {
    grid-column: 2/-2;

    @include ipadPro {
      grid-column: 5/12;
    }
  }

  &-img {
    margin: 0 auto;

    img {
      max-width: 100%;
      box-shadow: $shadow-medium;
    }
  }
}
