.hero {
  @include grid(1fr 1fr);
  @include separator(30px, 0, 0, 0px);
  grid-template-areas: "txt img";
  align-items: center;
  min-height: 70vh;

  &__img {
    grid-area: img;
    width: 100%;
    height: 100%;
    background: url("https://vieirahenrique.github.io/drivieira/img/dri2.png");
    background-size: cover;
  }

  &__text {
    grid-area: txt;
    padding: 10%;

    h1 {
      color: $black;
      @include fontRegular;
      font-size: 60px;
      line-height: 1.15;
    }

    .bold {
      font-weight: 600;
    }

    .btn {
      margin-bottom: 50px;
    }
  }
}
