.hero {
  @include container($ipadPro);
  @include separator(0, 0, 30px, 30px);
  align-items: center;

  &__img {
    grid-row: 2;
    grid-column: 2/-2;
    display: grid;
    place-items: center;

    img {
      width: 320px;
      height: 320px;
      object-fit: cover;
      border-radius: 50%;
      border: 5px solid $black;
    }

    @include ipadPro {
      grid-column: 8/-2;
      grid-row: 1;

      img {
        width: 500px;
        height: 500px;
      }
    }
  }

  &__text {
    grid-column: 2/-2;
    grid-row: 1;
    text-align: center;

    h1 {
      color: $black;
      @include fontRegular;
      font-size: 60px;
      line-height: 1.15;
    }

    .btn {
      margin-bottom: 50px;
    }

    @include ipadPro {
      grid-column: 2/8;
      text-align: left;
    }
  }
}
